@font-face { /*Аннотация для подключения собственных шрифтов*/
    /*font-family: "Poppins Regular";*/

    font-family: "Poppins"; /*Название шрифта, которое можно будет использовать потом в дальнейшем*/

    font-weight: 300; /*Добавление к шрифту определённой степени жирности*/

    url("../fonts/Poppins-Light.ttf") format("ttf"); /*Ссылка на файл со шрифтом. Если первые две настройки совпадут
    при редактировании элемента, подгрузится шрифт из этого файла, в результате чего шрифт в элементе поменяется.
    font-weight используется в том случае, если для одного шрифта у вас есть несколько вариаций жирности, чтобы хоть
    как-то их отличить друг от друга и чтобы лишний раз не создавать новый font-family для этого (а ещё это удобно, когда,
    по всему сайту один и тот же шрифт, то нет необходимости постоянно прописывать семейство, можно где нибудь для документа
    прописать название семейства, и просто менять цифры под ситуацию) во всех остальных
    случаях можно файл со шрифтом присвоить просто названию семейства (font-family: "Poppins Regular";).
    Ниже вы можете просмотреть вариативность жирности для одного и того же шрифта*/

}

@font-face {
    /*font-family: "Poppins Regular";*/
    font-family: "Poppins";
    font-weight: 400;
    url("../fonts/Poppins-Regular.ttf") format("ttf");
}

@font-face {
    /*font-family: "Poppins SemiBold";*/
    font-family: "Poppins";
    font-weight: 600;
url("../fonts/Poppins-SemiBold.ttf") format("ttf");
}

@font-face {
    /*font-family: "Poppins SemiBold";*/
    font-family: "Poppins";
    font-weight: 800;
    url("../fonts/Poppins-ExtraBold.ttf") format("ttf");
}
